<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PhpTravels">
  <test name="Login/Logout Admin Module">
    <classes>
      <class name="phptravels.tests.LoginLogoutAdminCode"/>
    </classes>
  </test> <!-- Test -->
  
  
  <test name="Signup/Login Customer Module">
    <classes>
      <class name="phptravels.tests.SignUpCustomerCode"/>
    </classes>
  </test> <!-- Test -->
  
  
    <test name="NavigationLinks/Logout Customer Module">
    <classes>
      <class name="phptravels.tests.NavigationLinksCustomerCode"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
